<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.davidelp17.arnolflorez.esudea"
    tools:overrideLibrary="android.support.customtabs">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESUdeA">

        <activity
            android:name=".SplashScreen.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".University.UniversityActivity"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".University.UniversityDetailActivity"
            android:parentActivityName=".University.UniversityActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".University.UniversityActivity" >
            </meta-data>
        </activity>

        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version">
        </meta-data>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key">
        </meta-data>
    </application>
</manifest>
